@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TTF;
  src: url("./assets/fonts/TTCPro-ed9ac02e.woff2");
}

* {
  font-family: TTF;
}

body {
  /* margin-top: 10px; */
  /* margin-inline: 10px; */
  background-color: #e7edff;
}
